.app__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  height: 80px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.label {
  margin-bottom: 10px;
}

.input {
  margin-bottom: 10px;
  min-width: 240px;
  line-height: 1.5;
}

.button {
  margin-top: 30px;
  height: 22px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
}

.thead-row {
  background-color: #d7d0d0;
}

.tbody-row {
  line-height: 1.5;
  background-color: #c3bdbd;
  transition: background-color 0.2s ease-out;
}

.tbody-row:hover {
  background-color: #d8c1c1;
}

.status-input {
  margin: 0 10px;
}

.remove-button {
  position: relative;
  top: -3px;
  border: 0;
  border-radius: 50%;
  background-color: #c3bdbd;
  cursor: pointer;
  color: #d63e3e;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.remove-button:hover {
  opacity: 1;
}

.error {
  color: #d63e3e;
}

.is-error {
  border-color: #d63e3e;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  padding: 20px;
  width: 500px;
  background-color: #fff;
}

.modal-content h2 {
  text-align: center;
}
